@charset "UTF-8";
.container__imagem {
  background-size: cover;
  background-position: right center;
  background-attachment: fixed;
  box-shadow: inset 6px 6px 13px 4px var(--cor__fundo-texto);
  color: var(--cor__secundaria);
  padding: 10vh 0;
  padding-left: 5px;
}

#img01{background-image: url(../imagens/background001.jpg); }

#img02 {background-image: url(../imagens/background002.jpg);}

.container__imagem__texto {
  display: inline-block;
  background-color: var(--cor__fundo-texto);
  padding: .5em;
  text-shadow: 2px 1px 0px var(--cor__principal);
}

